<app-menu></app-menu>

<section class="container">
  <h1>My Publications</h1>

  <h2>Date Select</h2>

  <form [formGroup]="form" class="date">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" (ngModelChange)="onChangeDate($event)" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <div class="items" *ngIf="items.length > 0">
    <aside class="container-card" *ngFor="let item of paginator">
      <div class="title">
        <span>{{item.title}}</span>
      </div>
      <div class="content">
        <p>{{item.message}}</p>
        <div class="data">
          <p>{{item.date}}</p>
          <span>{{fullName}}</span>
        </div>
      </div>
    </aside>
  </div>

  <div *ngIf="showEmpty" class="empty">
    <figure>
      <img [src]="imageUrl" alt="">
    </figure>

    <p>Nothing to see here</p>
  </div>

  <div class="paginator" *ngIf="!showEmpty && items.length > 2">
    <mat-paginator [length]="items.length" [pageSize]="2" [pageIndex]="pageIndex"
      (page)="pageEvent($event)"></mat-paginator>
  </div>

</section>