@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$font-primary: 'Lato', sans-serif;

::ng-deep {
  body {
    background: #9B8ADB !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .image-icon {
    display: flex;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
    font-family: $font-primary;
  }

  h2 {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-family: $font-primary;
  }

  span {
    text-align: right;
    margin-right: 20px;
  }

  h1 {
    font-size: 30px;
    color: #FFF;
    font-weight: 800;
  }

  h2 {
    color: #0E2248;
    font-family: $font-primary;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 14px;
  }

  .date {
    width: 100%;

    mat-form-field {
      ::ng-deep {
        width: 100%;

        .mat-form-field-infix {
          display: flex;
        }

        .mat-form-field-flex {
          background: white;
          border-radius: 16px;
          border: 1px solid #5F5E5E;
          padding-left: 10px;
        }

        .mat-form-field-underline {
          background-color: transparent;
        }
      }
    }
  }

  .empty {
    figure {
      margin-top: 40px;
      display: flex;
      justify-content: center;
    }

    p {
      text-align: center;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 700;
      color: rgba(51, 51, 51, 0.70);
    }
  }

  .paginator {
    mat-paginator {
      ::ng-deep {
        .mat-paginator-page-size {
          display: none;
        }

        .mat-paginator-outer-container {
          background-color: #9B8ADB;
        }
      }
    }
  }
}

.container-card {
  width: 100%;
  margin: auto;
  margin-top: 30px;

  .title {
    background: #58BCDB;
    border: 1px solid #5F5E5E;
    border-radius: 14px 14px 0px 0px;

    span {
      color: #EBEBEB;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 700;
      margin-left: 10px;
      padding-top: 9px;
    }
  }

  .content {
    background: #666;
    border: 1px solid #5F5E5E;
    border-radius: 0px 0px 14px 14px;
    color: #EBEBEB;
    font-family: $font-primary;
    font-size: 14px;
    padding: 10px;

    span {
      font-weight: 700;
    }

    .data {
      display: flex;
      justify-content: space-between;
    }
  }
}